@model List<Mooshak2._0.Models.ViewModels.UserViewModel>

        @{
            ViewBag.Title = "Index";
        }

    <nav class="leftNav">
        <button id="userBtn" class="btn btn-default" onclick="location.href='@Url.Action("Index", "User")'">Users</button>
        <button id="courseBtn" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Course")'">Courses</button>
    </nav>

    <h3>Users</h3>
    <div class="container">
        <ul class="nav nav-tabs">
        <li role="presentation">@Html.ActionLink("All Users", "Index", "User")</li>
        <li role="presentation">@Html.ActionLink("Students", "SortUsers", new {role = "Student"})</li>
        <li role="presentation">@Html.ActionLink("Teachers", "SortUsers", new { role = "Teacher" })</li>
        <li role="presentation">@Html.ActionLink("Admin", "SortUsers", new {role = "Administrator"})</li>
        </ul>

        <div style="overflow-y: scroll; height: 300px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>SSN</th>
                        <th>RU-username</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => user.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => user.SSN)</td>
                            <td>@Html.DisplayFor(modelItem => user.Email)</td>
                            <td>@Html.DisplayFor(modelItem => user.UserRole)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { userSSN = user.SSN }) |
                            @Html.ActionLink("Details", "Details", new { userSSN = user.SSN }) |
                            @Html.ActionLink("Delete", "Delete", new { userSSN = user.SSN },
               new { onclick = "return confirm('Are you sure you want to delete this user?')" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
<button id="createUserBtn" class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Account")'"><span class="glyphicon glyphicon-plus"></span> Create User</button>
<button id="createMultiBtn" class="btn btn-primary" onclick="location.href='@Url.Action("CreateMultiple", "User")'"><span class="glyphicon glyphicon-plus"></span> Create Multiple Users</button>

