@model Mooshak2._0.Models.ViewModels.SubmissionViewModel

@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>



    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        <div >
            @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>Nafn á námskeiði </p>
            </div>
        </div>
        
        <div>
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>@DateTime.Now.ToShortDateString();</p>
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>@User.Identity.Name</p>
            </div>
        </div>
        

        <form action="" method="post" enctype="multipart/form-data">

            <label for="file">Filename:</label>
                <div style='height: 0px;width: 0px;'><input id="upfile" type="file" value="upload" /></div>
            <br />
            <br />
            <br />
            <input type="submit" value="Submit For Grading" class="btn btn-primary" />
        </form>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
