@model Mooshak2._0.Models.ViewModels.SubmissionViewModel

@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>


@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2"})
        @Html.HiddenFor(model => model.a, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.LabelFor(model => model.AssignmentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>Assignment</p>
            </div>
        </div>
        <div >
            @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>Project</p>
            </div>
        </div>

        
        
        <div>
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>@DateTime.Now.ToShortDateString();</p>
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                <p>@User.Identity.Name</p>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div>
            @Html.TextAreaFor(model => model.SubmittedCode, htmlAttributes: new { id = "TextAreaSubmitCode", placeholder="Paste your code here....", cols="10", rows="15"})
        </div>
        <br />
        <br />
        <br />
        

        <form action="" method="post" enctype="multipart/form-data">
            <input type="submit" class="btn btn-success"/>
        </form>
</div>

}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
