@model Mooshak2._0.Models.ViewModels.SubmissionViewModel

@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>


@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(model => model.AssignmentID)
    @Html.HiddenFor(model => model.ProjectID)

    @Html.ValidationSummary()

    <div class="form-horizontal">
        <hr />   
        <div>
            @Html.TextAreaFor(model => model.SubmittedCode, htmlAttributes: new { id = "TextAreaSubmitCode", placeholder="Paste your code here....", cols="10", rows="15"})
        </div>
        <br />
        <input type="submit" onclick="return confirm('Are you sure you want to submit your code?')" class="btn btn-success"/>
    </div>

}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
