@model List<Mooshak2._0.Models.ViewModels.AssignmentProjectViewModel>

    <h2>Unfinished Projects</h2>
    <div>
        <nav class="leftNav">
            <button id="userBtn" class="btn btn-default" onclick="location.href='@Url.Action("UnfinishedProjects", "AssignmentProject")'">Unfinished Projects</button>
            <button id="courseBtn" class="btn btn-default" onclick="location.href='@Url.Action("ViewSubmissions", "Submission")'">View Submissions</button>
        </nav>
        <br/>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>Course</th>
                    <th>Assignment</th>
                    <th>Project</th>
                    <th>Weight</th>
                    <th>Deadline</th>
                    <th>Expected output</th>
                    <th> </th>
                </tr>
            </thead>
            @foreach (var project in Model)
            {

                <tr>
                    <td>@project.CourseName</td>
                    <td>@project.AssignmentName</td>
                    <td>@project.ProjectName</td>
                    <td>@project.Weight</td>
                    <td>@project.Deadline</td>
                    <td>@project.Output</td>
                    <td>
                        @Html.ActionLink("Submit Solution", "Submit", "Submission", new { projectId = project.ID, assignmentId = project.AssignmentID, input = project.Input, output = project.Output }, new { @class = "btn btn-success" })

</tr>
            }
        </table>
    </div>
