@model Mooshak2._0.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Details";
}

@Model.Students

<h2>Details</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Course number</th>
        <th>Course name</th>
        <th>Semester</th>
    </tr>
    </thead>
    <tr>
        <td>@Model.CourseNumber</td>
        <td>@Model.CourseName</td>
        <td>@Model.Semester</td>
    </tr>
</table>

@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary btn-large" })