@model Mooshak2._0.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Course details</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Course number</th>
        <th>Course name</th>
        <th>Semester</th>
        <th>Teacher</th>
    </tr>
    </thead>
    <tr>
        <td>@Model.CourseNumber</td>
        <td>@Model.CourseName</td>
        <td>@Model.Semester</td>
        <td>@Model.TeacherName</td>
    </tr>
</table>


@if (Model.Students.Count == 0)
{
    <div class="alert alert-info">
        There are no students currently enrolled!
    </div>
}
else
{
    

    <h2 class="pull-left">Registered students</h2>


    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>SSN</th>
            <th>E-mail</th>
            <th>  </th>
        </tr>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.FullName</td>
                <td>@student.SSN</td>
                <td>@student.Email</td>
                <td>
                    @Html.ActionLink("Remove", "RemoveStudentFromCourse", new { courseId = Model.CourseID,
                    studentId = student.Id },
                    new { onclick = "return confirm('Are you sure you want to remove the student from this course?')" })
                </td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Add students to course", "AddStudentToCourse", new { id = Model.CourseID }, new { @class = "btn btn-success" })

