@model List<Mooshak2._0.Models.ViewModels.CourseViewModel>
@{
    ViewBag.Title = "View";
}

<h2>List of all courses</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Course number</th>
        <th>Course name</th>
        <th>Semester</th>
        <th> </th>
    </tr>
    </thead>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.CourseNumber</td>
            <td>@course.CourseName</td>
            <td>@course.Semester</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = course.CourseID}) |
                @Html.ActionLink("Details", "Details", new {id = course.CourseID}) |
                @Html.ActionLink("Delete", "Delete", new {id = course.CourseID}, new { onclick = "return confirm('Are you sure you want to delete this course?')" })
            </td>
        </tr>

    }

</table>

@Html.ActionLink("Create a new course", "Create", null, new { @class = "btn btn-primary btn-large" })

