@model AssignmentViewModel

@using System.Web.Mvc.Html
@using Mooshak2._0.Models
@using Mooshak2._0.Models.Entities
@using Mooshak2._0.Models.ViewModels

<h2>Create assignment</h2>

<div class="form-horizontal">
    <hr/>
    <form action="/Assignments/Create" method="post">
        <div class="form-group">
            <label class="col-md-2 control-label">Course</label>
            <div class="col-md-3">
                <select id="courseId" name="courseId" class="form-control">
                    @foreach (var course in Model.AvailableCourses)
                    {
                        <option value="@course.CourseID">@course.CourseName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Deadline</label>
            <div class="col-md-3">
                <div class="input-group date" id="datetimepicker1">
                    @Html.TextBoxFor(m => Model.Deadline, new { @class = "form-control datepicker"})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Assignment Name</label>
            <div class="col-md-3">
                @Html.TextBoxFor(m => Model.AssignmentName, new {@class = "form-control"})
            </div>
        </div>
        <div class="col-md-offset-2">
            <input type="submit" value="Save" class="btn btn-success">
            @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-primary btn-large"})
        </div>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    <script type="text/javascript">
        $(function() {
            $('#datetimepicker1')
                .datetimepicker({
                    format: 'M/D/YYYY HH:mm:ss'
                });
        });
    </script>

}
