@model List<Mooshak2._0.Models.ViewModels.AssignmentViewModel>


<h2>List of assignments</h2>

<div style="overflow-y: scroll; height: 300px;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Course</th>
            <th>Name</th>
            <th>Deadline</th>
            <th> </th>

        </tr>
        </thead>
        @foreach (var assignment in Model)
        {
            <tr>
                <td>@assignment.Course.CourseName</td>
                <td>@assignment.AssignmentName</td>
                <td>@assignment.Deadline</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = assignment.ID}) |
                    @Html.ActionLink("Add project", "Details", new {id = assignment.ID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = assignment.ID},
                        new {onclick = "return confirm('Are you sure you want to delete this assignment?')"})
                </td>
            </tr>

        }

    </table>
</div>
    <button onclick="location.href='@Url.Action("Create", "Assignments")'" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Create New
    </button>
